.profile__edit-button {
    margin: 0;
    padding: 0;
    margin-left: 18px;
    margin-right: 18px;
    min-width: 24px;
    height: 24px;
    background-image: url(../../../images/Edit-Button.svg);
    background-size: contain;
    background-color: black;
    background-repeat: no-repeat;
    border: none;
}

.profile__edit-button:hover {
    cursor: pointer;
    opacity: .6;
}

@media screen and (max-width:680px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
    }
}

@media screen and (max-width:570px) {
    .profile__edit-button {
        margin-left: 10px;
        margin-right: 0;
    }
}